/* mlstyle.css */
/* This is the website style sheet. It can be modified. */
 BODY {
     background-color: rgb(56,128,200) 
}
 @font-face {
     font-family: Encode Sans Semi Condensed;
     src: url('Encode.ttf');
}
 @font-face {
     font-family: Encode Sans Semi Condensed;
     font-weight: normal;
     src: url('Encode.ttf');
}
 a {
     text-decoration: none;
     color: white;
}
 a:hover {
     color: rgb(251,188,5) 
}
 h1 {
     font: 24pt Encode Sans Semi Condensed, sans-serif;
     color: white;
     text-align: left;
}
 ul {
     font-family: 24pt Encode Sans Semi Condensed, sans-serif;
}
 ul {
     color: white 
}
 ul {
     text-align: left 
}
 ol {
     color: white 
}
 ol {
     font: 16.5pt serif 
}
 object {
     text-align: center 
}
 p {
     text-align: left 
}
 P {
     font: 16pt Encode Sans Semi Condensed, sans-serif;
}
 P {
     color: white 
}
 ul {
     margin: 4em;
     text-align: center;
     width: 10em;
}
 label {
     font: 14pt Encode Sans Semi Condensed, sans-serif;
}
 label {
     color: white 
}
 button {
     font: 12pt Encode Sans Semi Condensed, sans-serif;
}
 output {
     font: 12pt Encode Sans Semi Condensed, sans-serif;
}
 output {
     color: white;
}
 .footer {
     position: absolute;
     left: 0;
     bottom: 0;
     text-align: center;
     width: 100%;
     color: white;
     background-color: grey;
}
 .nav_bar {
     position: absolute;
     left: 15px;
     top: 30px 
}
 .main {
     margin-left:225px 
}
 